#contact {
  /* Giving the section a size and background */
  min-height: 100vh;
  width: 100%;
  background-color: #222;
  /* Positioning content inside the section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact form {
  /* sizing, shaping and backfround of the form */
  max-width: 325px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  background-image: linear-gradient(#000, #333);
  /* positioning chiildren of the form */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

#contact .form-item {
  /* sizing the item */
  width: 100%;
  /* creating space between items */
  margin-bottom: 40px;
  /* setting position to allow the label element to be absolutely positioned relative to this */
  position: relative;
}
#contact .name-group {
  /* positioning chiildren of the form */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* creating space between items - fixes phone to laptop view as flex-direction changes*/
  margin-bottom: 0px;
}

#contact .name-group .name-item {
  /* sizing the item */
  width: 100%;
  /* Fixed issue of overlapping last name and First name. Not entirely sure how this works */
  position: relative;
  /* creating space between items - fixes phone to laptop view as flex-direction changes*/
  margin-bottom: 40px;
}

#contact form input,
#contact form textarea{
  /* sizing, shaping and backgroun*/
  width: 100%;
  padding: 10px;
  background: transparent;
  /* border */
  outline: 0;
  border: 1px solid #fff;
  /* font styles */
  font-size: 14px;
  color: #fff;
}
#contact form textarea {
  /* restricts resizing to just up and down to keep it uniformed horizontally */
  resize: vertical;
}
#contact form label {
  /* sizing and shaping */
  height: 100%;
  padding: 10px;
  /* font styles */
  color: #fff;
  /* positioning */
  position: absolute;
  top: 0;
  left: 0;
  /* interactivity */
  cursor: text;
  transition: .3s;
}
#contact form button {
  /* sizing shapping and backgound */
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  /* border */
  outline: 0;
  border: 1px solid #fff;
  outline: 0;
  /* font styles */
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1em;
  /* makes this a relative parent to absolute before spuedo */
  position: relative;

  /* these are styles I got from a website with interactive buttons I referenced in the README */
  /* I do not fully understand the full purpose of how these make the effect occur so have left them uncatogorised */
  margin-top: -25px;
  appearance: none;
  margin: 0;
  opacity: 1;
  padding: 1.5em 2.2em;
  text-rendering: geometricprecision;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;

  /* interactivity */
  cursor: pointer;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1); /* Don't understand cubic-bezier*/
}

#contact form button:before {
  /* Makes before exist */
  content: "";
  /* size and background */
  height: 100%;
  width: 100%;
  background-color: #EBEBEB;
  /* border */
  border: none;
  /* Positioning */
  position: absolute;
  left: 0;
  top: 0;
  /* these are styles I got from a website with interactive buttons I referenced in the README */
  /* I do not fully understand the full purpose of how these make the effect occur so have left them uncatogorised */
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
}

/* change font color to black to adapt to background change */
#contact form button:hover {
  color: #000;
}

/* these are styles I got from a website with interactive buttons I referenced in the README */
#contact form button:hover::before {
  /* Not a deep enough understanding that I could utilise this on my own yet */
  animation: opacityFallbackIn 0s step-start forwards;
  /* I do understand this at all */
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

#contact form button:after {
  background-color: #FFFFFF;
}

/* these are styles I got from a website with interactive buttons I referenced in the README */
/* Brings Text to infront of the Background during animation */
#contact form button span {
  z-index: 1;
  position: relative;
}

#contact form input:focus~label,
#contact form input:valid~label,
#contact form textarea:focus~label,
#contact form textarea:valid~label  {
  /* pushes label above input/textarea box */
  top: -30px;
  /* Font Styles */
  font-size: 12px;
  color: #ccc;
}
/* Tablet horizontal */
@media screen and (min-width: 768px) {
  /* change background to gradient */
  #contact {
    background-image: linear-gradient(#000, #333);
  }
  /* make form larger and appear on background */
  #contact form {
    max-width: 600px;
    background-image: none;
    border-radius: 0;
  }
  /* change name inputs to be beside eachother */
  #contact .name-group {
      flex-direction: row;
  }
  #contact .name-group .name-item {
      width: 47%;
  }
}
