/* Dsicography Section */
#discography {
  /* Sizing and setting te background */
  width: 100%;
  background-color: #222;
}
#discography .discography-wrapper {
  /* positioning content within the section */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#discography .discography-wrapper  .album {
  /* sizing, shaping and setting the background */
  max-width: 300px;
  padding: 25px;
  background-image: linear-gradient(#333, #000);
  /* border */
  border-radius: 10px;
  /* positioning */
  margin: 25px 0;
  /* positioning content within the section */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
#discography .discography-wrapper  .album .image {
  /* Sizing and background */
  height: 250px;
  width: 250px;
  background-size: contain;
  /* shaping the border */
  border-radius: 3px;
  /* positioning */
  margin-top: 20px;
  margin-bottom: 5px;

}
/* images for the albums - Will change to make more efficient */
#discography .discography-wrapper .album .image-one {
  background-image: url('../images/album_cover_1.webp');
}
#discography .discography-wrapper .album .image-two {
  background-image: url('../images/album_cover_2.webp');
}
#discography .discography-wrapper .album .image-three {
  background-image: url('../images/album_cover_3.webp');
}

#discography .discography-wrapper .album .title {
  /* sizing element */
  width: 250px;
  /* font */
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: .1em;
  color: white;
  text-align: left;
  /* spacing */
  margin-bottom: 5px;
}

#discography .discography-wrapper .album .track-list {
  /* sizing element */
  width: 250px;
  /* font */
  font-family: Roboto, Arial, sans-serif;
  text-align: left;
  color: #CCC;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: .07em;
  /* positioning */
  margin-bottom: 20px;
}
#discography .discography-wrapper .album .track-list ul {
  /* styling the list dots */
  list-style-type: square;
  list-style-position: inside;
}
#discography .discography-wrapper .album .audio-control {
  /* Sizing and shaping the audion controller */
  width: 250px;
  border-radius: 5px;
}
/* Album Tablet */
@media screen and (min-width: 768px) {
  #discography .discography-wrapper .album {
    /* sizing */
    max-width: 700px;
    width: 600px;
  }
  #discography .discography-wrapper .album .image {
    /* sizing */
    width: 400px;
    height: 400px;
  }
  #discography .discography-wrapper .album .title,
  #discography .discography-wrapper .album .track-list,
  #discography .discography-wrapper .album .audio-control {
    /* sizing */
    width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  #discography {
    /* sizing and background */
    min-height: 100vh;
    background-image: linear-gradient(#333, #000);
  }
  #discography .discography-wrapper {
    /* Changing flex direction for bigger view ports so content gets alligned horrizontaly */
    flex-direction: row;
  }
  #discography .discography-wrapper .album {
    /* removing album background */
    border-radius: 0px;
    background-image: none;
    padding: 0;
    margin: 25px 0;
  }
  #discography .discography-wrapper .album .image {
    /* resizing album images */
    width: 275px;
    height: 275px;
  }
  #discography .discography-wrapper .album .title,
  #discography .discography-wrapper .album .track-list,
  #discography .discography-wrapper .album .audio-control {
    /* resizing album content to align with image */
    width: 275px;
  }
}
