#error {
  /* centering content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* baclground styles */
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/header.jpeg");
  background-size: cover;
  /* Size */
  width: 100%;
  height: 100vh;

}
#error .error-message {
  /* Layout control */
  border: 10px solid #fff;
  padding: 10px 16px;
  max-width: 90%;
  /* Font styles */
  font-family: arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: center;
}
#error .error-link {
  /* Layout Control */
  margin-top: 10px;
  /* font styles */
  font-family: arial, sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .01em;
  text-decoration: none;
  /* interactivity */
  cursor: pointer;
  /* positioning set for attaching an absolute element to it */
  position: relative;
}
#error .error-link::before {
  /* Makes it a thing */
  content: "";
  /* positioning */
  position: absolute;
  top: 100%;
  left: 0;
  /* sizes and background */
  width: 0;
  height: 2px;
  background: #fff;
  /* interactivity */
  transition: .3s;
}

#error .error-link:hover::before {
  /* size */
  width: 100%;
}

/* Tablets */
@media screen and (min-width: 768px) {
  #error .error-message {
    /* font */
    font-size: 72px;
  }
}
