footer .footer-box {
  /* positioning */
  margin-top: 50px;
  /* positiong child elements of this elemnt */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .footer-box-item {
  /* sizing */
  width: 60%;
  /* positiong child elements of this elemnt */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* positioning */
  margin-bottom: 50px;

}
footer .footer-about-me {
  /* font */
  text-align: left;
  font-weight: 300;
  letter-spacing: .1em;
  line-height: 1.4em;
}
footer .social-media-box {
  /* sizing */
  width: 100%;
  /* positioning */
  margin-top: 20px;
  /* positiong child elements of this elemnt */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .media-icon {
  /* font */
  font-size: 24px;
  /* interactivity */
  transition: .3s;
}
footer .media-icon:hover {
  /* font */
  color: #666;
}
footer .media-icon:active {
  /* font */
  color: #999;
}
footer .footer-box-item h2 {
  /* font */
  font-size: 24px;
  text-align: left;
  /* positioning */
  margin-bottom: 1em;
}
footer .footer-box-item ul {
  /* font */
  text-align: left;
}
footer .footer-box-item li {
  /* font */
  text-align: left;
  font-size: 18px;
  list-style-type: none;
  line-height: 2.5em;
}
footer .footer-box-item a {
  /* font */
  text-decoration: none;
  color: #000;
  /* making the elemnt relative so absolute can be applied to the before */
  position: relative;
}
footer .footer-box-item ul li a::before {
  /* makes it exist */
  content: "";
  /* positionig */
  position: absolute;
  top: 100%;
  left: 0;
  /* sizing */
  width: 0;
  height: 2px;
  /* background */
  background: #000;
  /* animation */
  transition: .3s;
}

footer .footer-box-item a:hover::before {
  /* sizing */
  width: 100%;
}

footer .bottom-bar {
  /* sizing */
  width: 100%;
  /* shaping */
  padding: 20px 100px;
  /* background */
  background: black;
  /* positiong child elements of this elemnt */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

footer .bottom-bar .logo {
  /* font */
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

footer .bottom-bar .copyright{
  /* making the elemnt relative so absolute can be applied to the before */
  position: relative;
  /* font */
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  /* positioning */
  margin-left: 40px;
}

/* tablet Horizontal */
@media screen and (min-width: 1024px) {
  footer .footer-box {
    /* positioning */
    margin-top: 75px;
    /* changing to horrizontal for larger screen sizes*/
    flex-direction: row;
    /* sizing */
    height: 300px;
  }
  footer .footer-about-me {
    /* font */
    line-height: 1.2em;
  }
  footer .footer-box-item {
    /* sizing */
    width: 20%;
    height: 300px;
    /* font */
    align-items: flex-start;
    /* shifting content to the left */
    justify-content: flex-start;
  }
}
/* Desktop Horizontal */
@media screen and (min-width: 1200px) {
  footer .footer-about-me {
    /* font */
    line-height: 1.4em;
}
