#hero {
  /* Size */
  width: 100%;
  height: 100vh;
  /* baclground styles */
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../images/header.webp");
  background-size: cover;
  /* centering content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero h1 {
  /* Sizing and shaping */
  border: 10px solid #fff;
  padding: 10px 16px;
  /* Font styles */
  font-family: arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .07em;
  text-align: center;
}
#hero .kicker {
  /* Positioning */
  margin-top: 10px;
  /* Font */
  font-family: arial, sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .05em;
}

/* Tablets */
@media screen and (min-width: 768px) {
  #hero h1 {
    /* Font */
    font-size: 72px;
  }
}
