#lounge-piano {
  width: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#lounge-piano .lounge-wrapper {
  /* sizing, shaping and setting the background */
  max-width: 300px;
  padding: 25px;
  background-image: linear-gradient(#333, #000);
  /* border */
  border-radius: 10px;
  /* positioning */
  margin: 25px 0;
  /* positioning content within the section */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#lounge-piano .lounge-wrapper .lounge-item {
  margin: 50px;
  width: 250px;
}
#lounge-piano .lounge-wrapper .lounge-image {

  height: 300px;
  background-size: cover;
  background-position: right;
  background-image: url("../images/lounge-piano.webp");
  margin: 0px;
  border-radius: 3px;
}
#lounge-piano .lounge-wrapper .lounge-item .lounge-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#lounge-piano .lounge-wrapper .lounge-item .lounge-text {
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: .2em;
}
#lounge-piano .lounge-wrapper .lounge-item .service-list-heading {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .15em;
  margin-bottom: 7px;
  color: #fff;
}
#lounge-piano .lounge-wrapper .lounge-item .service-list {
  /* sizing element */
  width: 250px;
  /* font */
  font-family: Roboto, Arial, sans-serif;
  text-align: left;
  color: #CCC;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: .15em;
  /* positioning */
  margin-bottom: 20px;
  /* styling the list dots */
  list-style-type: square;
  list-style-position: inside;
}

#lounge-piano .lounge-wrapper .lounge-item .icon {
  display: inline-block;
  color: white;
  margin-right: 10px;
  transition: .5s;
}
#lounge-piano .lounge-wrapper .lounge-item .icon:hover {
  font-size: 1.1em;
  transform: rotate(90deg);
}
#lounge-piano .lounge-wrapper .lounge-item .lounge-link{
  text-transform: uppercase;
  display: inline-block;
  /* makes it an anchor for the before */
  position: relative;
  /* font */
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-top: 25px;
}

#lounge-piano .lounge-wrapper .lounge-item a::before {
  /* makes it a thing */
  content: "";
  /* positioning */
  position: absolute;
  top: 100%;
  left: 0;
  /* sizing */
  width: 0;
  height: 2px;
  /* background */
  background: #fff;
  /* animation */
  transition: .2s;
}


#lounge-piano .lounge-wrapper .lounge-item a:hover::before {
  /* sizing */
  width: 100%;
}


@media screen and (min-width: 768px) {
  #lounge-piano .lounge-wrapper {
    padding-top: 70px;
    max-width: 700px;
    width: 600px;
    height: 100%;
  }
  #lounge-piano .lounge-wrapper .lounge-item {
    width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  #lounge-piano {
    background-image: linear-gradient(#333, #000);
    height: 100vh;
  }
  #lounge-piano .lounge-wrapper {
    max-width: 100%;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    background: transparent;
  }
  #lounge-piano .lounge-wrapper .lounge-item {
    margin: 0;
    margin-bottom: 150px;
    width: 430px;
    height: 300px;
}

@media screen and (min-width: 1200px) {
  #lounge-piano {
    background-image: linear-gradient(#333, #000);
    height: 100vh;
  }
  #lounge-piano .lounge-wrapper {
    padding-top: 0px;
    height: 100%;
    flex-direction: row-reverse;
  }
  #lounge-piano .lounge-wrapper .lounge-item {
    margin: 0px;
    margin-bottom: 150px;
    width: 500px;
    height: 300px;
  }
}
