/* Importing roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* Stest some default styles that I like to make css easier to work with */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Aarial, sans-serif;
    scroll-behavior: smooth;
  }
/* Setting deafult styles to general classes */
/* Section heading Styling */
.section-heading {
  color: #fff;
  text-align: center;
  font-size: 38px;
  padding: 40px;
  text-transform: uppercase;
}
