header .logo,
header .legacy {
  /* non existent at current viewport */
  display: none;
}

header .to-top {
  /* positioning */
  position: fixed;
  right: 0px;
  bottom: 0px;
  /* font */
  background-color: black;
  /* shaping */
  padding: 5px 10px;
  border-radius: 100%;
}
header .to-top a {
  /* font */
  color: #FFF;
  font-size: 24px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  header .legacy,
  header .logo {
    /* Makes appear on larger devicess */
    display: block;
  }
  header .to-top {
    /* gets rid of on larger view ports */
    display: none;
  }
  header {
    /* positionig */
    position: fixed;
    top: 0;
    left: 0;
    /* sizing */
    width: 100%;
    /* shaoing */
    padding: 20px 100px;
    /* background */
    background: #000;
    /* positioing child elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* fixes error of audio elements being infront of legacy navigation */
    z-index: 100;
  }

  header .logo {
    /* font */
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }
  header .legacy a{
    /* makes it an anchor for the before */
    position: relative;
    /* font */
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    /* positioing */
    margin-left: 40px;
  }

  header .legacy a::before {
    /* makes it a thing */
    content: "";
    /* positioning */
    position: absolute;
    top: 100%;
    left: 0;
    /* sizing */
    width: 0;
    height: 2px;
    /* background */
    background: #fff;
    /* animation */
    transition: .3s;
  }


  header .legacy a:hover::before {
    /* sizing */
    width: 100%;
  }

}
@media screen and (min-width: 1024px) {
  header {
    /* makes background transparent on devices large enoughh so nav doesnt overlap with white footer and also doesnt overlap with headings of sections */
    background: transparent;
  }
}
